/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* CSS RESET BY JOSH COMEAU
url: https://www.joshwcomeau.com/css/custom-css-reset/ */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#content {
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
}

.home {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 25px;
  padding: 25px;
}

.home > .card {
  position: relative;
  box-shadow: 0px 5px 5px 2.5px rgba(0,0,0, 0.75);
  display: flex;
  align-items: center;
}

.home > .card > h1 {
  position: absolute;
  top: 0;
  left: 5%;
  transform: translateY(-50%);
  color: black;
}

.home > .card > p {
  text-align: center;
  font-size: 24px;
  text-wrap: balance;
}

.home > .card > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  font-weight: bold;
  list-style-type: none;
}

.menu {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.menu > .card > h1 {
  /* margin-top: 15px; */
  text-align: center;
}

.menu > .items {
  /* margin-top: 15px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  box-shadow: 0px 3px 5px 2.5px rgba(0,0,0, 0.75);
  /* /* font-weight: bold; */
  /* list-style-type: none; */
  /* padding-bottom: 15px; */
}

.about {
  height: 100%;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 1fr;
}

.about > .card {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.final-message, .about > .card > h1 {
  font-size: 48px;
  font-weight: 700;
}

.story {
  font-size: 24px;
  font-style: italic;
}

.photo-bg {
  background-image: url("./photo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  background-color: white;
  /* box-shadow: 5px 5px 5px  black; */
}

header, footer {
  background-color: rgba(0,0,0,0.5);
}

footer {
  /* position: fixed; */
  width: 100%;
  /* bottom: 0;
  left: 0; */
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

button {
  width: 100px;
  border: none;
  border-radius: 50px;
}